header, main, footer { 
    max-width: 80%;
    margin: 1.25rem auto;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

header,
footer {
  background-color: cadetblue;
  color: white;
  text-align: center;
  padding: 0.5%;
}


footer { 
    font-size: large;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  line-height: 1.5em;
}

h3 {
  background-color: cadetblue;
  color: white;
  text-align: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}

.container {
  width: 90%;
  height: 98%;
  /*background-color: rgba(235, 235, 235, 0.919);*/
  background-color: rgb(218, 232, 236);
  border: solid black 2px;
  border-radius: 10px;
  text-align: center
}

.container img {
  width: 98%;
    height: 75%;
  border: solid black 1px;
  margin-top: 1.5em;
  padding: 0%;
  display: inline-block;
  margin: 1;
}

#fittsLaw {
  grid-column: 1 / 2;
}

#visualHierarchy {
  grid-column: 2 / 3;
}
#contrast {
  grid-column: 3 / 4;
}

p { 
    padding: 10px;
    margin-bottom: 3em;
    font-family: 'Montagu Slab', serif;
}
