@media only screen and (min-width: 1024px) {
header, main, footer { 
    max-width: 80%;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    line-height: 1.5em;
  }

  #fittsLaw {
    grid-column: 1 / 2;
  }
  
  #visualHierarchy {
    grid-column: 2 / 3;
  }
  #contrast {
    grid-column: 3 / 4;
  }

  footer { 
    font-size: 1.5em;
  }
}