@media only screen and (min-width: 1040px) {
    .logo {
        display: none;
    }

    h1 {
        display: block;
        font-size: 3em;
        text-align: center;
        text-justify: auto;
        z-index: 99;
        padding: 0;
        margin: 10px;
        position: absolute;
        top: 0;
    }

    .contact-social-container {
        justify-content: space-between;
        margin-top: 50px;
    }

    .contact-info {
        width: 220px;
        height: 275px;
        border-right: 3px solid #254579;
    }

    .contact-info a,
    .contact-info p {
        padding: 10px;
        margin: 10px;
        line-height: 1;
        font-size: 1em;
    }

    .social {
        width: 220px;
        height: 275px;
        flex-direction: column;
        border-left: 3px solid #254579
    }

    .social img {
        width: 50px;
    }

    header {
        height: 400px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        position: absolute;
        top: 15.2%;
        left: 230px;
        width: calc(100vw - 460px);
        background-color: #78A858;
        border: 3px solid #254579;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .menu a {
        text-shadow: 2px 2px 2px rgb(136, 214, 136);
        font-size: 1.4rem;
        background-color: white;
        border-radius: 46px;
    }

    h1 {
        margin-bottom: 100px;
    }

    .call-to-action {
        width: calc(100vw - 460px);
        position: absolute;
        top: 18.9%;
        height: 30%;
        border: 3px solid #254579;
    }

    .weather-container {
        margin-top: 250px;
        height: 300px;
        gap: 20px;
    }

    .button-box {
        font-size: 1em;
    }

    .button-box button {
        font-size: 1rem;
    }

    #city {
        font-size: 1.4rem;
    }

    .weather p {
        font-size: 1.1rem;
    }

    #weather-info {
        font-size: 1.1em;
    }

    .words h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .coast p {
        font-size: 1.2em;
    }

    #formDiv {
        background-color: #DED369;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;
        width: calc(100vw - 460px);
        position: absolute;
        top: 19.9%;
        left: 230px;
        border: 3px solid #254579;
    }

    #orderSummary {
        background-color: white;
        margin-bottom: 30px;
        width: 100%;
        height: 95%;
        border: 3px solid #254579;
        border-radius: 20px;
    }

    #order-summary-display {
        background-color: white;
        border: none;
    }


    .fruit-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-area: 1 / 1 / 2 / 3;
        margin: 10px;
    }

    .fruit-header h2:nth-child(2) {
        display: block;
        grid-area: 1 / 2 / 2 / 3;
        margin-left: 20px;
    }



    .weather,
    #forecast {
        height: 300px;
        border: 3px solid #254579;
        margin: 0 20px;

    }

    .coast {
        margin: 20px;
        max-height: 450px;
        border: 3px solid #254579;
    }

    .coast img {
        max-height: 420px;
        max-width: 699px;
    }

    #orderForm {
        width: 90%;
        font-size: 0.98m;
    }


    footer {
        margin-top: 20px;
        padding: 20px;
        font-size: 1em;
    }

    #last-modified {
        font-size: 1em;
    }


    .thanks {
        width: 100%;
        margin-top: 525px;
        font-size: 1rem;
    }

    .freshMenu {
        display: flex;
        position: absolute;
        top: 13.4%;
        left: 230px;
        width: calc(100vw - 460px);
        background-color: #78A858;
        border: 3px solid #254579;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .freshMenu a {
        text-shadow: 2px 2px 2px rgb(136, 214, 136);
        font-size: 1.4rem;
        background-color: white;
        border-radius: 46px;
    }

    #aboutDiv {
        width: calc(100vw - 460px);
        position: absolute;
        top: 17.9%;
        left: 230px;
        border: 3px solid #254579;
        background-color: #f7fbe3;
        font-size: 1em;
    }

    .aboutContact {
        margin-top: 450px;
    }
}