@media only screen and (min-width: 786px) {
  header {
    grid-template-columns: 30% 1fr 200px;
  }

  #header-date {
    font-size: 2rem;
  }

  .banner {
    font-size: 3vw;
  }

  .social img {
    max-width: 3%;
  }

  main {
    background-color: #c1c6ba;
    display: grid;
    padding: 20px;
    height: 100%;
    overflow: hidden;
  }

  main h2 {
    font-size: 2em;
  }

  .call-to-action {
    font-size: 2em;
    margin: 10px;
    max-height: 80px;
  }
  .hicta {
    grid-area: 1 / 1 / 2 / 4;
    height: 200px;
  }

  .event {
    grid-area: 5 / 1 / 6 / 3;
    overflow-y: scroll;
    font-size: 1.2em;
    height: auto;
  }

  .event p {
    padding: 10px;
  }

  .weather {
    grid-area: 5 / 3 / 6 / 4;
    justify-self: center;
    height: auto;
    width: auto;
  }

  .news {
    grid-area: 2 / 1 / 3 / 4;
    height: auto;
  }

  .news p {
    font-size: 1.5em;
    padding: 10px;
  }

  .join {
    display: flex;
    grid-area: 4 / 1 / 5 / 4;
    font-size: 2em;
    height: 60px;
    align-items: center;
    justify-content: center;
  }

  .join-button {
    background-color: #6e9c2f;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 6px white;
    width: 75%;
  }

  .spotlight {
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .spotlight img {
    width: 90%;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
    line-height: 2rem;
  }

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
  }

  .top img {
    max-width: 25%;
    margin-right: 20px;
  }

  .bottom {
    display: flex;
    grid-area: 2 / 1 / 3 / 3;
    justify-content: center;
  }

  .bottom p + p::before {
    content: " | ";
    white-space: pre;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
}
