@media only screen and (min-width: 768px) {
  header {
    grid-template-columns: 30% 1fr 200px;
  }

  #header-date {
    font-size: 2rem;
  }

  .banner {
    font-size: 3vw;
  }

  .social img {
    max-width: 3%;
  }

  main {
    background-color: #c1c6ba;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 200px 300px 15% 1fr;
    gap: 5px;
    height: 100%;
  }

  .image_container img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .call-to-action {
    font-size: 2.5rem;
    margin: 10px;
    padding: 5px;
    max-height: 100px;
  }
  .hicta {
    grid-area: 1 / 1 / 2 / 3;
    background-image: url('../images/neighborhood768.webp');
    height: auto;
  }

  .event {
    grid-area: 5 / 1 / 6 / 2;
    font-size: 1.2em;
  }
  .weather {
    grid-area: 5 / 2 / 6 / 3;
    justify-self: center;
  }

  .news {
    grid-area: 2 / 1 / 3 / 3;
  }

  .join {
    display: flex;
    grid-area: 4 / 1 / 5 / 3;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .join p {
    color: white;
    font-size: 1.5rem;
  }

  .join-button {
    background-color: white;
    color: #2a571d;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 6px #c1c6ba;
    width: 75%;
    font-size: 3rem;
  }

  .spotlight {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .spotlight img {
    width: 90%;
  }

  .join-main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .details {
    display: block;
  }

  form {
    grid-area: 1 / 2 / 2 / 3;
  }

  .join-div {
    display: inline;
    background-color: #2a571d;
    padding: 10px;
    margin: 20px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: end;
    font-size: 1.5rem;
    height: 98%;
    border-radius: 30px;
  }

  .membership-item {
    background-color: white;
  }

  .membership-details {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
  }

  .membership-details:target {
    display: block;
    background-color: white;
  }

  .membership-details:target .close-link {
    display: inline-block;
    margin-top: 10px;
  }

  .close-link::before,
  .close-link {
    content: "\25B2";
    margin-right: 5px;
    font-size: 1.5rem;
    color: #2a571d;
  }

  ul span {
    background-color: #2a571d;
    font-size: 1.4rem;
    color: white;
  }

  div ul {
    color: #2a571d;
    background-color: white;
    padding: 6px;
    border: none;
    margin: 3px;
    font-size: 1.2rem;
  }

  div a {
    color: #2a571d;
  }

  div a:hover {
    background-color: #6e9c2f;
    color: white;
  }

  ul li {
    padding: 5px;
    text-align: left;
  }

  .details {
    font-size: 1.1rem;
    padding: 5px;
  }

  .thankyou-main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .directory-main {
    display: flex;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }

  .info-box p {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Abril Fatface";
  }

  .info-box a {
    font-size: 1.5rem;
    color: #2a571d;
  }

  td {
    font-size: 1.3rem;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
  }

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
  }

  .top img {
    max-width: 25%;
    margin-right: 20px;
  }

  .bottom {
    display: flex;
    grid-area: 2 / 1 / 3 / 3;
    justify-content: center;
    font-size: 1rem;
  }

  .bottom p + p::before {
    content: " | ";
    white-space: pre;
  }
}
